<div class="card w-25 position-absolute top-50 start-50 translate-middle">
    <div class="card-header">
        <h4 class="text-center"><strong>Register</strong></h4>
    </div>
    <form class="m-5" #f="ngForm">
        <div *ngIf="successMsg.length" class="alert alert-success">{{successMsg}}</div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" ngModel #name="ngModel">
            <div *ngIf="errorMsgName.length" id="emailHelp" class="form-text text-danger">{{ errorMsgName }}</div>

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" ngModel #email="ngModel">
            <div *ngIf="errorMsgEmail.length" id="emailHelp" class="form-text text-danger">{{ errorMsgEmail }}</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel">
            <div *ngIf="errorMsgPassword.length" id="emailHelp" class="form-text text-danger">{{ errorMsgPassword }}</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="c_password" name="c_password" ngModel #c_password="ngModel">
            <div *ngIf="errorMsgCPassword.length" id="cpasswordtext" class="form-text text-danger">{{ errorMsgCPassword }}</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep my account</label>
        </div>
        <button class="btn btn-primary px-5 position-absolute start-50 translate-middle mt-3" (click)="register(f)" >Register</button>
    </form>
</div>