<div class="card w-25 position-absolute top-50 start-50 translate-middle">
    <div class="card-header">
        <h4 class="text-center"><strong>Login</strong></h4>
    </div>
    <form class="m-5" #f="ngForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" ngModel #email="ngModel">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep my account</label>
        </div>
        <button type="submit" class="btn btn-primary px-5 position-absolute start-50 translate-middle mt-3" (click)="login(f)">Login</button>
    </form>
</div>